<h1 class="display-4 animated fadeIn slow">Los integrantes justos</h1>
<hr>

<div class="card-columns card-style  animated fadeIn slow" style="column-count: 2">
    <div class="card" *ngFor="let justo of searchJusto" (click)="showJusto(justo.id)">
        <img [src]="justo.img" class="card-img-top" [alt]="justo.nombre">
        <div class="card-body">
            <h5 class="card-title"> {{ justo.nombre }} </h5>
            <p class="card-text"> {{ justo.bio }} </p>
        </div>
    </div>

</div>