<h1 class="display-4 animated fadeIn slow">Los integrantes justos</h1>
<hr>

<div class="card-columns card-style  animated fadeIn slow" style="column-count: 2">

    <app-justo-card (justoSelected)="showJusto( $event )" [justo]="justo" [index]="i" *ngFor="let justo of justos; let i = index"></app-justo-card>
    <!-- con la palabra justo entre [] significa que puedo mandarle una variable o una expresion a ese componente
    en este caso el componente justo-card la palabra que esta entre corchetes no necesariamente debe ser igual
    al nombre de la variable -->

</div>